@charset "UTF-8";
@import "../common/import/_base.scss", "../common/import/_onepixel.scss";
$sm-width: 300px;
$md-width: 400px;
$mx-width: 600px;
$fam:"Hiragino Sans GB", "Microsoft YaHei", sans-serif;

%width {
	width: 100%;
}
.width {
	width: 100%;
}
.top-img {
	@extend %width;
	@extend %beforeAndAfter;

	img {
		@extend %width;
	}
}
.column {
	@extend %width;
	@extend %beforeAndAfter;
}
.subcolumn {
	div {
		padding: 10px 3%;
		text-align: center;
		color: #808080;
		font-size: 12px;
		font-weight: bolder;

		@media (min-width:$md-width) {
			font-size: 100%;
		}
		@media (min-width:$mx-width) {
			font-size: 140%;
		}
	}
	img {
		@extend %width;
	}
}
.guanggao {
	@extend %width;
	@extend %beforeAndAfter;

	img {
		@extend %width;
	}
}
.go-where {
	padding: 0px 4%;
}
.h {
	font-weight: bold;
	color: #535557;
	font-size: 4vw;
	padding: 5px 0px 10px 0px;
	display: inline-block;
	line-height: 1.1;
	font-family: $fam;

	small {
		color: #777;
		font-size: 3vw;
		font-weight: normal;
		line-height: 1.5;
	}
}
.info {
	position: relative;
	.title{
		padding: 0px 4%;
	}
}
.info-msg {
	font-family: $fam;
	position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 4vw;
    padding-top: 31%;
    color: #fff;
}
.decoration{
	font-size: 2vw;
	font-weight: 100;
}
.info-round {
	position: absolute;
	width: 27%;
	left: 70%;
	top: -1px;
	z-index: 1;
}

.product-info{
	position: relative;
}

.product-extra{
	position: absolute;
    top: 10px;
    left: 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    height: 24px;
    line-height: 23px;
    font-size: 2vw;
    border-radius: 12px;
    padding: 0 15px;
    font-family: $fam;
}